.outer{
    width: 400px;
    height: 500px;
    border: solid 1px;
    background: rgb(7, 1, 48);
    margin-left: 30px;
    margin-top: 30px;
}    
.innerbox{
    width: 281px;
    height:58px;
    border: solid 1px;
    background: rgb(243, 243, 247);
    margin-left: 57px;
    margin-top: 45px;   
}
.p1{
    color: white;
    font-size: 20px;
    margin-top: 13px;
}
.p2{
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
#inpscr{
    width: 273px;
    height: 54px;
    background: rgb(251, 253, 251);
    margin-top: -1px;
    font-size: 25px;
    pointer-events: none;
}
.cle{
    width: 78px;
    height:40px;
    background-color: aliceblue;
    margin-top: 14px;
    margin-left: 38px; 
}
.butt1{
    width: 78px;
    height:41px;
    background: rgb(238, 79, 5);
    margin-left: 0px;
    margin-top: -1px;
    float: left;
}  
.butt2{
    width: 48px;
    height:54px;
    background: rgb(15, 1, 41);
    margin-left: 21px;
    margin-top: 15px;
    float: left;
    
}    
.butt3{
    width: 49px;
    height:51px;
    background: rgb(15, 1, 41);
    margin-left: 16px;
    margin-top: 18px;
    float: left;
} 
.butt5{
    width: 62px;
    height:35px;
    background: rgb(238, 79, 5);
    margin-left: 9px;
    margin-top: -45px;
    float: left;
} 
.butt6{
    width: 62px;
    height:35px;
    background: rgb(238, 79, 5);
    margin-left: 86px;
    margin-top: -45px;
    float: left;
} 
.butt7{
    width: 62px;
    height:35px;
    background: rgb(226, 9, 9);
    margin-left: 160px;
    margin-top: -45px;
    float: left;
} 
.numbslot1{
    width: 230px;
    height:230px;
    border: solid 1px;
    background: rgb(6, 131, 6);
    margin-left: 36px;
    margin-top: 11px;
    float: left;
}   
.numbslot2{
    width: 81px;
    height:291px;
    border: solid 1px;
    background: rgb(6, 131, 6);
    margin-left: 5px;
    margin-top: 10px;
    float: left;
} 
.numbslot3{
    width: 231px;
    height:54px;
    border: solid 1px;
    background: rgb(235, 236, 236);
    margin-left: 36px;
    margin-top: 247px;
}  


